@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* Default styles */

.texts {
    max-width: 550px;
    font-family: 'Overpass', sans-serif;
}

.texts h1 {
    font-size: 24px;
    font-weight: 600;
    color: #1f3f5b;
    margin-bottom: 30px;
}

.texts p {
    font-weight: 300;
    color: #4b5862;
    font-size: 16px;
    line-height: 30px;
}

.texts p:first-of-type {
    margin-bottom: 70px;
}

/* End */

.header {
    position: relative;
    width: 100vw;
    max-width: 1140px;
    height: 56px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background: transparent;
    color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}

.contents-container {
    height: 100%;
    display: flex;
}

.logo {
    margin-right: 40px;
}

.contents {
    display: flex;
    align-items: center;
}

.contents > nav {
    margin: 0px 10px;
}

.arrow {
    font-size: 12px;
    margin-left: 5px;
}

.dropdown {
    font-family: 'Unbuto', sans-serif;
    width: 200px;
    margin-top: 10px;
    padding: 30px 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    position: absolute;
    display: none;
    animation: 1s visibilities;
}

@keyframes visibilities {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1.0;
    }
}

.dropdown li {
    list-style: none;
    padding: 5px 10px;
}

.product:hover .content {
    color: #fff;
    border-bottom: solid 1px #fff;
}

.product:hover .dropdown {
    display: block;
}

.company:hover .content {
    color: #fff;
    border-bottom: solid 1px #fff;
}

.company:hover .dropdown {
    display: block;
}

.connect:hover .content {
    color: #fff;
    border-bottom: solid 1px #fff;
}

.connect:hover .dropdown {
    display: block;
}

.dropdown li:hover {
    font-weight: bold;
}

.login-area {
    height: 100%;
    display: flex;
    align-items: center;
}

.login-area a {
    text-decoration: none;
}

.login {
    color: inherit;
}

.signUp {
    color: #ff525d;
    background-color: #fff;
    margin-left: 25px;
    padding: 13px 33px;
    border-radius: 22px;
    font-weight: bold;
}

.signUp:hover {
    color: #fff;
    background-color: #ff7a85;
}

.open-menu {
    height: 20px;
    width: 30px;
    background-image: url(../images/icon-hamburger.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}

.close-menu {
    height: 20px;
    width: 30px;
    background-image: url(../images/icon-close.svg);
    background-size: cover;
    background-repeat: no-repeat;
}




.banner {
    position: absolute;
    height: 93vh;
    width: 100vw;
    top: 0;
    background: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
    border-bottom-left-radius: 80px;
}

.bg-banner {
    width: 100%;
    height: 100%;
    background-image: url(../images/bg-pattern-intro.svg);
    background-position: 26% 52%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content h1 {
    font-family: 'Overpass', sans-serif;
    font-weight: 600;
    font-size: 60px;
    color: #fff;
}

.banner-content p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 19px;
    color: #ddd;
    margin-top: 10px;
}

.buttons {
    margin-top: 50px;
}

.buttons a {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
    padding: 15px;
    margin: 0px 5px;
    border-radius: 25px;
    font-weight: bold;
}

.buttons .start {
    color: #ff525d;
    background-color: #fff;
}

.buttons a.start:hover {
    color: #fff;
    background-color: #ff7a85;
}

.buttons .learn {
    padding: 15px 20px;
    background: transparent;
    color: #fff;
    border: solid 1px #fff;
}

.buttons a.learn:hover {
    background-color: #fff;
    color: #ff7a85;
}




.mobile-menu {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
    display: none;
}

.menu-container {
    margin: 150px 20px 20px 20px;
    height: calc(100vh - 170px);
    width: calc(100vw - 40px);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 10px 10px 3px #4444;
    font-family: 'Overpass', sans-serif;
    font-weight: 600; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-contents {
    border-bottom: solid 1px #e9e9e9;
}

.menu-contents nav {
    width: 95vw;
    text-align: center;
}

.menu-content {
    display: inline-block;
    margin: 15px 0px;
}

.menu-content.active {
    color: #3f4164dd;
}

.menu-dropdown {
    position: relative;
    margin: 0px 10px;
    padding: 20px 0px;
    font-size: 15px;
    background-color: #eee;
    color: #3f4164dd;
    display: none;
}

.menu-dropdown li {
    list-style: none;
    padding: 10px 0px;
    cursor: pointer;
}

.menu-login-area {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-login-area a {
    text-decoration: none;
}

.menu-login {
    color: #000;
}

.menu-signUp {
    font-size: 15px;
    color: #fff;
    padding: 13px 38px;
    margin-top: 20px;
    border-radius: 23px;
    background: linear-gradient(90deg, #ff8f70 0%, #ff3d54 100%);
}




.design-info {
    height: 140vh;
    margin-top: 80vh;
    padding-top: 20vh;
    padding-bottom: 20vh;
    position: relative;
    width: 100vw;
    overflow: hidden;
}

.design-container {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
}

h1.title {
    text-align: center;
    font-family: 'Overpass', sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #1f3f5b;
}

.design-content {
    margin-top: 100px;
}

.illustration {
    position: absolute;
    margin-left: 50vw;
    top: 20px;
}




.art {
    position: relative;
}

.art-container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.art-content {
    display: flex;
    align-items: center;
}

.art-content .texts h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #fff;
}

.art-content .texts p {
    color: #ddd;
    font-size: 15px;
}

.art-bg {
    position: absolute;
    z-index: -10;
    top: 70px;
    left: 0;
    right: 0;
    height: calc(100% - 180px);
    background-color: #2e2f49;
    border-bottom-left-radius: 80px;
    border-top-right-radius: 80px;
}

.art-bg-img {
    height: 100%;
    background-image: url(../images/bg-pattern-circles.svg);
    background-position: -65% 80%;
    background-repeat: no-repeat;
}




.info {
    position: relative;
    padding-bottom: 200px;
}

.laptop-illustration {
    position: absolute;
    left: -275px;
}

.info-content {
    width: 100vw;
    max-width: 1140px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 200px;
}




.footer {
    padding: 80px 0px;
    background-color: #25252d;
    border-top-right-radius: 80px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.footer-container {
    width: 100%;
    max-width: 1140px;
    margin: auto;
    display: flex;
    align-items: flex-start;
}

.footer-items {
    width: 100%;
    max-width: 800px;
    margin-left: 150px;
    display: flex;
    justify-content: space-around;
}

.footer-item p {
    margin-bottom: 15px;
    font-weight: 500;
    display: inline-block;
}

.footer-item ul li {
    list-style: none;
    margin: 15px 0px;
}

.footer-item ul li > a {
    font-size: 14px;
    text-decoration: none;
    color: #ddd;
}

.footer-item ul li > a:hover {
    border-bottom: solid 1px #fff;
}




@media (max-width: 1200px){
    .texts {
        padding: 0px 40px;
    }

    .header {
        padding: 0px 40px;
    }


    .bg-banner {
        background-size: 200%;
        background-position: 30% 55%;
    }


    .design-info {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .illustration {
        right: -155px;
        top: 110px;
    }

    .illustration > img,
    .laptop-illustration > img {
        max-width: 600px;
        height: auto;
    }


    .art-bg-img {
        background-size: 80%;
        background-position: -90% 80%;
    }


    .laptop-illustration {
        left: -120px;
    }

    .info-content {
        padding-top: 0;
    }


    .footer-container {
        padding: 0px 40px;
    }
}

@media(max-width: 900px) {
    .texts {
        text-align: center;
    }


    .header .contents,
    .header .login-area {
        display: none;
    }

    .contents-container {
        align-items: center;
    }

    .logo {
        height: 40px;
        width: auto;
    }

    .open-menu {
        display: block;
    }


    .banner-content h1 {
        font-size: 45px;
    }


    .design-info {
        min-height: 140vh;
        height: auto;
    }

    .design-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 450px;
    }

    .illustration {
        right: 0;
        left: 0;
        margin: 0;
        display: flex;
        justify-content: center;
    }


    .art {
        margin-bottom: 50px;
    }

    .art-container {
        flex-direction: column;
        align-items: center;
    }

    .art-bg {
        top: 30%;
        bottom: 0;
        height: auto;
    }

    .art-bg-img {
        background-position: 50% -25vh;
    }


    .info {
        padding-bottom: 100px;
    }

    .laptop-illustration {
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .info-content {
        padding-top: 400px;
        justify-content: center;
    }

    
    .footer-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer-container > img {
        margin-bottom: 80px;
    }

    .footer-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .footer-item ul {
        margin-bottom: 50px;
    }

    .footer-items:last-of-type ul {
        margin-bottom: 0;
    }
}