@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

.header {
    width: 100vw;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    background: transparent;
    z-index: 100;
    color: #ccc;
    display: flex;
    justify-content: space-between;
}

.contents-container {
    display: flex;
}

.logo {
    margin-right: 40px;
    color: #fff;
}

.contents {
    display: flex;
    align-items: center;
}

.contents > nav {
    margin: 0px 10px;
}

.arrow::before {
    content: "▼";
    color: inherit;
    font-size: 12px;
    margin-left: 5px;
}

.dropdown {
    font-family: 'Unbuto', sans-serif;
    width: 200px;
    margin-top: 10px;
    padding: 30px 10px;
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    position: absolute;
    display: none;
    animation: 1s visibilities;
}

@keyframes visibilities {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1.0;
    }
}

.dropdown li {
    list-style: none;
    padding: 5px 10px;
}

.product:hover .content {
    color: #fff;
    border-bottom: solid 1px #fff;
}

.product:hover .arrow::before {
    content: "▲";
    color: inherit;
    margin-left: 5px;
    font-size: 12px;
}

.product:hover .dropdown {
    display: block;
}

.company:hover .content {
    color: #fff;
    border-bottom: solid 1px #fff;
}

.company:hover .arrow::before {
    content: "▲";
    color: inherit;
    margin-left: 5px;
    font-size: 12px;
}

.company:hover .dropdown {
    display: block;
}

.connect:hover .content {
    color: #fff;
    border-bottom: solid 1px #fff;
}

.connect:hover .arrow::before {
    content: "▲";
    color: inherit;
    margin-left: 5px;
    font-size: 12px;
}

.connect:hover .dropdown {
    display: block;
}

.dropdown li:hover {
    font-weight: bold;
}

.login-area a {
    text-decoration: none;
}

.login {
    color: inherit;
}

.signUp {
    color: hsl(356, 100%, 66%);
    background-color: #fff;
    margin-left: 25px;
    padding: 10px 30px;
    border-radius: 20px;
    font-weight: bold;
}

.signUp:hover {
    color: #fff;
    background-color: hsl(355, 100%, 74%);
}




.banner {
    position: absolute;
    top: 0;
}